* {
    --he4rtPurple: #9163cc;
    --he4rtPurpleShade: #6d4b9b;
}

body {
    margin: 0px;
    padding: 0px;
}

body * {
    font-family: 'Arimo', sans-serif;
    font-family: 'Oxygen', sans-serif;
    /* font-size: 0.8rem; */
    box-sizing: border-box;
    /* border: 1px dashed black; */
}

/* text */
body p {
    font-size: 0.9rem;
}

header{
    margin-bottom: 24px;
}

.header1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Arimo';
    color: var(--he4rtPurple);
    font-weight: bold;
    margin-bottom: 0px;
}

.header2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Arimo';
    font-weight: bold;
}
.subtitle {
    text-align: center;
    font-weight: bold;
    color: var(--he4rtPurple);
}

.headerimg {
    width: 300px;
}

.button {
    background-color: var(--he4rtPurple);
    color: white;
    border-radius: 0;;
}
.button:hover{
    background-color: var(--he4rtPurpleShade);
    color: white;
}

.addMarginTop30{
    margin-top: 30px;
}

.footerimg {
    width: 60px;
    display: inline-block;
}

.cartao p {
    color: white;
    text-align: justify;
}



@media (min-width: 681px) {
    .cartao {
        padding: 30px 15px;
        /* max-width: 310px; */
        background-color: var(--he4rtPurple);
        /* height: 100%; */
        width: 310px;
        /* height: 400px; */
        box-shadow: 0 16px 48px rgba(23, 29, 36, 0.2);
    }

    .flexdad {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: stretch; */
        justify-content: space-around;
    }

    .flexdad>* {
        margin: 10px;
        flex-grow: 0;
        /* flex-basis: 310px; */
        flex-shrink: 1;
    }

    .flexdadColumn {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
    }

    .flexdadColumn>* {
        margin: 10px;
        flex-grow: 0;
        /* flex-basis: 310px; */
        flex-shrink: 1;
    }
}


@media (max-width: 680px) {
    .cartao {
        padding: 30px 15px;
        background-color: #9163cc;
        /* height: 400px; */
    }

    .flexdad {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: stretch;
        /* justify-content: space-around; */
    }

    .flexdad>* {
        margin: 10px 0px;
        ;
        /* flex-grow: 0; */
        /* flex-basis: 310px; */
        /* flex-shrink: 1; */
    }

    .flexdadColumn {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
    }

    .flexdadColumn>* {
        margin: 10px;
        flex-grow: 0;
        /* flex-basis: 310px; */
        flex-shrink: 1;
    }
}
::-webkit-input-placeholder {
    font-style: italic;
    font-weight: lighter;
    /* font-size: 0.8rem; */
}
:-moz-placeholder {
    font-style: italic;
    font-weight: lighter;
    /* font-size: 0.8rem; */
}
::-moz-placeholder {
    font-style: italic;
    font-weight: lighter;
    /* font-size: 0.8rem; */
}
:-ms-input-placeholder {
    font-style: italic;
    font-weight: lighter;
    /* font-size: 0.8rem; */
}